*{
  margin: 0;
  padding: 0;
  line-height: 1.2;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', 'Arial', sans-serif;
  color: var(--mc_grey);
}

a{
  text-decoration: none;
  color: var(--mc_violet);
  transition: .3s;
  &:hover{
    transition: .3s;
    color: var(--mc_white);
  }
}

h1, h2, h3{
  color: var(--mc_white);
}

._container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

._row{
  margin: 0 -16px;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}

._col{
  float: left;
  padding: 0 16px;
  &__3{
    width: 33.33%;
  }
}

._text{
  font-size: 13px;
  &__success{
    color: var(--mc_green);
  }
  &__error{
    color: var(--mc_red);
  }
}

#app{
  background-color: var(--mc_black);
  min-height: 100vh;
}