<template>
    <main class="favorites">
        <div class="_container">
            <h1>Favorites</h1>
            <UsersGrid :users="users"/>
        </div>
    </main>
</template>

<script>
    import UsersGrid from "../components/UsersGrid"

    export default {
        name: "Favorites",
        components: {UsersGrid},
        computed: {
            usersID() {
                let data = [];

                this.$store.state.users.usersLiked.forEach(item => {
                    data.push(Number(item.user_id_liked));
                });

                return data;
            },

            users() {
                return this.$store.state.users.usersAll.filter(item => this.usersID.includes(item.id))
            }
        },
    }
</script>