<template>
    <main class="main">
        <div class="_container">
            <h1>Main</h1>
            <UsersGrid :users="users" />
        </div>
    </main>
</template>

<script>
    import UsersGrid from "../components/UsersGrid"

    export default {
        name: "Main",
        components: {UsersGrid},
        computed: {
            users() {
                return this.$store.state.users.usersAll;
            }
        },
    }
</script>