<template>
    <main class="profile">
        <div class="_container">
            <h1>Profile</h1>
            <div class="user-data">
                <div class="avatar">
                    <div class="user-img">
                        <img :src="userResponse.image ? imageDir + userResponse.image : 'images/avatar.png'">
                    </div>
                    <div class="form">
                        <div class="fields">
                            <div class="field field__file">
                                <label for="file">Upload image<span v-if="file">Uploaded!</span></label>
                                <input type="file" id="file" ref="myFile" class="file-input" @change="previewFiles()">
                            </div>
                        </div>
                        <div class="button button__submit" @click="updateImage()" v-if="file">Update image</div>
                        <div class="_text _text__success success" v-if="successImageData">
                            {{successImageData}}
                        </div>
                    </div>
                </div>
                <div class="description">
                    <div class="form">
                        <div class="form-title">User data</div>
                        <div class="fields">
                            <div class="field">
                                <input type="text" placeholder="Name" v-model="user.name">
                            </div>
                            <div class="field">
                                <input type="text" placeholder="Last name" v-model="user.last_name">
                            </div>
                            <div class="field">
                                <input type="email" placeholder="Email" v-model="user.email">
                            </div>
                        </div>
                        <div class="button button__submit" @click="updateUser()">Update data</div>
                        <div class="_text _text__success success" v-if="success">
                            {{successData}}
                        </div>
                        <div class="errors">
                            <div class="error" v-for="(error, index) in errors" :key="index">
                                {{error[0]}}
                            </div>
                        </div>
                    </div>

                    <div class="form favorite_button">
                        <router-link :to="{name: 'favorites'}" class="button button__submit">Favorites Users</router-link>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import {API} from "../api";

    const api = new API();

    export default {
        name: "User",
        data() {
            return {
                user: {
                    name: '',
                    last_name: '',
                    email: ''
                },
                userResponse: [],
                success: false,
                successData: '',
                file: '',
                errors: [],
                successImageData: ''
            }
        },
        methods: {
            previewFiles() {
                this.file = this.$refs.myFile.files[0];
            },
            updateImage() {
                let formData = new FormData();

                formData.append('image', this.file);

                api.updateUserImage(formData).then( response => {

                    if (response.status === 200) {
                        this.file = '';
                        this.successImageData = response.data.status;
                        this.userResponse.image = response.data.url;

                        setTimeout(() => {
                            this.successImageData = '';
                        }, 1500);
                    }
                });
            },
            updateUser() {
                let tempEmail = this.user.email;

                if (this.user.email === this.userResponse.email || this.user.email === '') {
                    delete this.user.email;
                }

                api.updateUser(this.user).then(response => {
                    if (response.status === 200) {
                        this.errors = [];
                        this.success = true;
                        this.successData = response.data;
                        this.user.email = tempEmail;

                        setTimeout(() => {
                            this.success = false;
                        }, 1500);
                    }
                }).catch(error => {
                    this.errors = error.response.data;
                });
            },
            getUser(){
                this.userResponse = this.$store.state.users.userData;

                this.user.name = this.userResponse.name;
                this.user.last_name = this.userResponse.last_name;
                this.user.email = this.userResponse.email;
            }
        },
        computed: {
            imageDir() {
                return api.getImagesDir();
            }
        },
        created() {
            this.getUser();
        }
    }
</script>