.button{
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--mc_white);
  border: 2px solid var(--mc_white);
  border-radius: 20px;
  padding: 0 20px;
  cursor: pointer;
  transition: .4s;
  display: block;
  text-align: center;
  &:hover{
    transition: .4s;
    color: var(--mc_violet);
    border-color: var(--mc_violet);
  }
  &__header{
    font-size: 11px;
    line-height: 30px;
  }
  &__submit{
    font-size: 13px;
    line-height: 40px;
  }
}