.form {
  width: 420px;
  background-color: rgb(25, 25, 25);
  padding: 26px 42px;
  border-radius: 10px;
  .form-title {
    color: var(--mc_white);
    font-size: 26px;
    padding-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 14px;
      color: var(--mc_grey);
      cursor: pointer;
      transition: .3s;
      &:hover {
        transition: .3s;
        color: var(--mc_red);
      }
    }
  }
  input {
    display: block;
    width: 100%;
    background-color: transparent;
    font-size: 13px;
    line-height: 36px;
    outline: none;
    border: none;
    padding: 0 16px;
    color: var(--mc_grey);
  }
  input,
  select{
    &:-webkit-autofill{
      -webkit-text-fill-color: var(--mc_grey) !important;
      background-color: transparent !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
  .fields {
    padding-bottom: 26px;
  }
  .field{
    border: 2px solid var(--mc_grey);
    height: 40px;
    line-height: 36px;
    border-radius: 20px;
    margin-bottom: 12px;
    &__file{
      label{
        height: 100%;
        width: 100%;
        position: relative;
        cursor: pointer;
        padding: 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        transition: .4s;
        &:hover{
          transition: .4s;
          color: var(--mc_violet);
        }
        span{
          position: absolute;
          right: 24px;
          text-transform: capitalize;
          color: var(--mc_green);
          font-size: 11px;
        }
      }
      input{
        display: none;
      }
    }
    &__text{
      border: none;
      display: flex;
      align-items: center;
      p{
        font-size: 18px;
      }
    }
  }
  .errors{
    padding-top: 26px;
    .error{
      color: var(--mc_red);
      font-size: 13px;
      padding-bottom: 4px;
      opacity: .7;
    }
  }
  .success{
    padding-top: 26px;
  }
}