.user{
  padding-bottom: 24px;
  .date{
    padding-top: 5px;
    font-size: 11px;
    color: var(--mc_grey);
  }
  .user-block{
    display: block;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    .full-name{
      font-size: 18px;
      font-weight: 600;
      color: var(--mc_violet);
    }
  }
  .description{
    width: calc(100% - 110px);
    float: right;
    padding-left: 26px;
    display: flex;
    justify-content: space-between;
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #383838;
    object-fit: cover;
  }
}