<template>
    <div class="login">
        <div class="form">
            <div class="form-title">Login<span class="close" @click="closePopup()">Close</span></div>
            <div class="fields">
                <div class="field">
                    <input type="email" placeholder="Email" v-model="form.email">
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" v-model="form.password">
                </div>
            </div>
            <div class="button button__submit" @click="login()">Submit</div>
            <div class="_text _text__success" v-if="success">
                You have successfully logged in
            </div>
            <div class="errors">
                <div class="_text _text__error" v-for="(error, index) in errors" :key="index">
                    {{error}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {API} from "../../api";
    import Mixins from '@/mixins'

    const api = new API();

    export default {
        name: "Login",
        mixins: [Mixins],
        data() {
            return {
                form: {
                    name: '',
                    password: ''
                },
                success: false,
                errors: []
            }
        },
        methods: {
            login() {
                api.loginUser(this.form).then(response => {

                    this.errors = [];
                    this.success = true;

                    window.$cookies.set('token', 'Bearer ' + response.data.token);
                    this.$store.commit('users/setToken', 'Bearer ' + response.data.token);

                    api.getUser().then(userResponse => {
                        this.$store.commit('users/setUserData', userResponse.data);
                    });

                    api.getMyLikedUsers().then(response => {
                        this.$store.commit('users/setUsersLiked', response.data);
                    });

                    setTimeout(() => {
                        this.success = false;
                        this.$store.commit('main/setPopup', '');
                    }, 1500);
                }).catch(error => {
                    console.log('error');
                    this.errors = error.response.data;
                });
            }
        }
    }
</script>

<style>

</style>