<template>
    <div class="logout">
        <div class="form">
            <div class="form-title">Logout<span class="close" @click="closePopup()">Close</span></div>
            <div class="fields">
                <div class="field field__text">
                    <p>Do you really want to log out?</p>
                </div>
            </div>
            <div class="button button__submit" @click="logout()">Confirm</div>
            <div class="_text _text__success" v-if="success">
                You have successfully logout
            </div>
        </div>
    </div>
</template>

<script>
    import {API} from "../../api";
    import Mixins from '@/mixins'

    const api = new API();

    export default {
        name: "LogOut",
        mixins: [Mixins],
        data() {
            return {
                success: false,
            }
        },
        methods: {
            logout() {
                api.logout().then(response => {
                    console.log(response);
                    this.success = true;

                    window.$cookies.set('token', '');
                    this.$store.commit('users/setToken', '');

                    setTimeout(() => {
                        this.success = false;
                        this.$store.commit('main/setPopup', '');
                        this.$router.push({name: 'main'});
                    }, 1500);
                });
            }
        }
    }
</script>