<template>
    <div class="register">
        <div class="form">
            <div class="form-title">Register<span class="close" @click="closePopup()">Close</span></div>
            <div class="fields">
                <div class="field">
                    <input type="text" placeholder="Name" v-model="register.name">
                </div>
                <div class="field">
                    <input type="email" placeholder="Email" v-model="register.email">
                </div>
                <div class="field">
                    <input type="password" placeholder="Password" v-model="register.password">
                </div>
                <div class="field">
                    <input type="password" placeholder="Confirm password" v-model="register.password_confirmation">
                </div>
            </div>
            <div class="button button__submit" @click="registerUser()">Submit</div>
            <div class="_text _text__success success" v-if="success">
                You have successfully registered!
            </div>
            <div class="errors" v-if="errors">
                <div class="error" v-for="(error, index) in errors" :key="index">
                    {{error[0]}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {API} from "../../api";
    import Mixins from '@/mixins'

    const api = new API();

    export default {
        name: "Register",
        mixins: [Mixins],
        data() {
            return {
                register: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
                errors: [],
                success: false
            }
        },
        methods: {
            registerUser() {
                api.registerUser(this.register).then(response => {
                    this.errors = [];
                    this.success = true;

                    window.$cookies.set('token', 'Bearer ' + response.data.token);
                    this.$store.commit('users/setToken', 'Bearer ' + response.data.token);

                    setTimeout(() => {
                        this.success = false;
                        this.$store.commit('main/setPopup', '');
                    }, 1500);
                }).catch(error => {
                    console.log('error');
                    this.errors = error.response.data;
                });
            }
        }
    }
</script>