main.profile{
  h1{
    padding-top: 26px;
  }
  .user-data{
    padding-top: 55px;
    display: flex;
    justify-content: space-around;
  }
  .avatar{
    .user-img{
      padding-bottom: 55px;
    }
    img{
      height: 300px;
      width: 300px;
      margin: 0 auto;
      background-color: #191919;
      border-radius: 150px;
      display: block;
    }
  }
  .favorite_button{
    margin-top: 26px;
  }
}