<template>
    <header>
        <router-link :to="{name: 'main'}" class="logo"><span>&lt;|&gt;</span>CodeDealer</router-link>
        <div class="buttons" v-if="isAuth">
            <router-link :to="{name: 'profile'}" class="button button__header">Profile</router-link>
            <div class="button button__header" @click="openPopup('logout')">Log out</div>
        </div>
        <div class="buttons" v-else>
            <div class="button button__header" @click="openPopup('login')">Login</div>
            <div class="button button__header" @click="openPopup('register')">Register</div>
        </div>
    </header>
</template>

<script>

    export default {
        name: "Header",
        computed: {
            isAuth() {
                return Boolean(this.$store.state.users.token);
            }
        },
        methods: {
            openPopup(name) {
                this.$store.commit('main/setPopup', name);
            }
        },
    }
</script>

<style lang="scss">
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 55px;
        .logo {
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            span {
                letter-spacing: 5px;
                margin-right: 8px;
            }
        }
        .buttons {
            display: flex;
            .button {
                margin-right: 24px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

</style>