<template>
    <div class="likes" v-if="isAuthUser">
         <span v-if="isHasLike(userID)" class="liked" @click="deleteLike(userID)"><i
                 class="fa fa-heart"
                 aria-hidden="true"></i></span>
        <span v-else @click="addLike(userID)"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
    </div>
</template>

<script>
    import {API} from "../api";

    const api = new API();

    export default {
        name: "Likes",
        props: ['userID'],
        computed: {
            isAuthUser() {
                return Boolean(this.$store.state.users.token);
            },
            likes() {
                return this.$store.state.users.usersLiked;
            }
        },
        methods: {
            isHasLike(user_id_liked) {
                return this.likes.find(like => Number(like.user_id_liked) === Number(user_id_liked));
            },
            addLike(user_id_liked) {
                let data = {
                    user_id: this.$store.state.users.userData.id,
                    user_id_liked: user_id_liked
                };

                api.setLike(data).then(response => {
                    console.log(response.data);
                    this.likes.push(response.data);
                    // console.log(data);

                    this.$store.commit('users/setUsersLiked', this.likes);
                });
            },
            deleteLike(user) {

                api.deleteLike({user_id_liked: user}).then(response => {
                    if (response.data) {
                        let el = this.likes.findIndex(like => like.id === Number(response.data.data));
                        this.likes.splice(el, 1);
                    }
                });
            }
        }
    }
</script>