<template>
    <section class="popup" v-if="popup">
        <div class="popup-template">
            <PopupRegister v-if="popup === 'register'"/>
            <PopupLogin v-else-if="popup === 'login'"/>
            <PopupLogout v-else-if="popup === 'logout'"/>
        </div>
    </section>
</template>

<script>
    import PopupRegister from './popup/Register';
    import PopupLogin from './popup/Login'
    import PopupLogout from './popup/LogOut'

    export default {
        name: "Popup",
        components: {PopupRegister, PopupLogin, PopupLogout},
        computed: {
            popup() {
                return this.$store.state.main.popup;
            }
        }
    }
</script>