<template>
    <section class="users _row">
        <article v-for="(user, index) in users" :key="index" class="_col _col__3 user">
            <div class="user-block">
                <img :src="user.image ? imagesDir + user.image : 'images/avatar.png'" :alt="user.name">
                <div class="description">
                    <div class="user-data">
                        <div class="full-name">{{user.name}} {{user.last_name}}</div>
                        <div class="date">{{user.registration_date}}</div>
                    </div>
                    <Likes :userID="user.id" />
                </div>
            </div>
        </article>
    </section>
</template>

<script>
    import Likes from './Likes'
    import {API} from "../api";

    const api = new API();

    export default {
        name: "UsersGrid",
        props: ['users'],
        components: {Likes},
        data() {
            return {
                imagesDir: api.getImagesDir()
            }
        },
        methods: {

        },
    }
</script>