<template>
    <div id="app">
        <Header/>
        <router-view/>
        <Popup/>
    </div>
</template>

<script>

    import Vue from 'vue'
    import Cookies from 'vue-cookies'
    import Header from './components/Header'
    import Popup from './components/Popup'
    import {API} from "./api";

    const api = new API();

    Vue.use(Cookies);

    export default {
        name: 'app',
        components: {
            Header, Popup
        },
        methods: {
            setToken() {
                let token = window.$cookies.get('token');

                if (token) {
                    this.$store.commit('users/setToken', token);
                }
            }
        },
        created() {

            api.getUsers().then(data => {
                this.$store.commit('users/setUsersAll', data);
            });

            this.setToken();

            if (this.$store.state.users.token) {
                api.getUser().then(userResponse => {
                    this.$store.commit('users/setUserData', userResponse.data);
                });

                api.getMyLikedUsers().then(response => {
                    this.$store.commit('users/setUsersLiked', response.data);
                });

            }
        }
    }
</script>

<style lang="scss">
    @import "./assets/scss/main";
</style>
